body {
  font: 14px/1.5em Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman";
  font-size: 1em;
  background-color: white;
  color: black;
  margin: auto;
  padding: 0;
  width: 70%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: arial, serif;
  font-weight: normal;
  text-align: left; 
}
h1, h2, h3 {
  border-bottom: 1px solid black;
  padding-bottom: 0.2em;
}
img {
  padding: 0.5em;
  margin-left: 1em;
  margin-right: 2em;
}
blockquote {
  margin: 0;
  padding: 10px;
  font-style: italic;
  background-color: #ddd;
}
blockquote p {
  margin: 0;
  padding: 0;
}
code {
  font-family: courier;
  line-height: 1.75em;
  background-color: #E2E8F2;
}
pre {
  background-color: #E2E8F2;
  border-left: 4px solid #CAD0DA;
  padding: 0.5em;
  font-family: courier;
  font-size: 0.857em;
  line-height: 1.75em;
  margin: 0 0 1.75em 0;
  white-space: pre-wrap;
  white-space: moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
a {
  text-decoration: none;
  color: blue;
  background: none;
}
a:visited { color: blue; }
a:active { background-color: violet; }
a:hover { background-color: #cacaca; }
/* c.f. http://github.com/btoone/mmd-stylesheet/raw/master/mmd.css */
table {
  border: solid black;
  border-width: 2px 0px;
  empty-cells: hide;
  border-spacing: 0px;
  padding: 2px;
  margin: 20px auto;
}
table caption {
  margin: 5px;
  text-align: center;
}
thead th {
  border: solid gray;
  border-width: 0 0 2px 0;
  padding: 5px;
}
.h {
  background: #d3e5ff;
}
thead > tr:last-child > th { border-style: none; }
tbody > tr:first-child > td {
  border: solid gray;
  border-width: 1px 0 0 0;
}
tbody > tr:first-child > th {
  border: solid gray;
  border-width: 1px 0 0 0;
}
thead + tbody > tr:first-child > td {
  border: solid black;
  border-width: 1px 0 0 0;
}
thead + tbody > tr:first-child > th {
  border: solid black;
  border-width: 1px 0 0 0;
}
